$colorBase: rgb(14, 123, 167);
$colorFuente: rgb(255,255,255);
$colorHover: rgb(167, 27, 74);
$colorNegro: rgb(0,0,0);
$colorInsPadi:rgb(7, 226, 18);
$colorInsSnsi:rgb(212, 97, 2);
$colorDivPadi:rgb(7, 184, 60);
$colorDivSnsi:rgb(230, 149, 0);
$ColorTransparente: rgba(124, 123, 123, 0.4);
$colorBaseTrans:rgba(14, 123, 167, 0.7);